<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <add key="GameResolutionWidth" value="1024" />
    <add key="GameResolutionHeight" value="768" />

    <add key="GamePlayScreenX" value="149"/>
    <add key="GamePlayScreenY" value="93"/>
    <add key="GamePlayScreenWidth" value="850"/>
    <add key="GamePlayScreenHeight" value="650"/>

    <add key="GamePlayScreenBorder" value="25"/>
    
    <add key="GameMenuScreenWidth" value="124"/>
    <add key="GameMenuScreenHeight" value="768"/>

    <add key="GameUpperScreenWidth" value="900"/>
    <add key="GameUpperScreenHeight" value="68"/>

    <add key="GameScreenPosition" value="Right"/>
  </appSettings>
</configuration>